Consultorio/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50187/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" />
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="pFiltro" nillable="true" type="q1:ConsultaFiltro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="ConsultarResult" nillable="true" type="q2:ArrayOfConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="pFiltro" nillable="true" type="q3:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="ConsultarPacienteResult" nillable="true" type="q4:ArrayOfPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCEP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCEPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="ConsultarCEPResult" nillable="true" type="q5:CEP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="pFiltro" nillable="true" type="q6:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirPacienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="pFiltro" nillable="true" type="q7:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarPacienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarHistorico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="pFiltro" nillable="true" type="q8:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarHistoricoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="ConsultarHistoricoResult" nillable="true" type="q9:ArrayOfHistoricoPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarHistorico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="pHistorico" nillable="true" type="q10:HistoricoPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarHistoricoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>