Consultorio/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50187/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50187/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50187/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="IService1_Consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPaciente" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarCEP_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCEP" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarCEP_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCEPResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirPaciente" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirPacienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Consultar" message="tns:IService1_Consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultarResponse" message="tns:IService1_Consultar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConsultarPaciente" message="tns:IService1_ConsultarPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultarPacienteResponse" message="tns:IService1_ConsultarPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCEP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConsultarCEP" message="tns:IService1_ConsultarCEP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultarCEPResponse" message="tns:IService1_ConsultarCEP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InserirPaciente" message="tns:IService1_InserirPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InserirPacienteResponse" message="tns:IService1_InserirPaciente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/IService1/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPaciente">
      <soap:operation soapAction="http://tempuri.org/IService1/ConsultarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCEP">
      <soap:operation soapAction="http://tempuri.org/IService1/ConsultarCEP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirPaciente">
      <soap:operation soapAction="http://tempuri.org/IService1/InserirPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50187/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>